<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.Sharp" version="6.3.0" targetFramework="net472" />
  <package id="FontAwesome.Sharp.Pro" version="6.3.0" targetFramework="net472" />
  <package id="Syncfusion.Grid.Base" version="25.2.3" targetFramework="net472" />
  <package id="Syncfusion.Grid.Windows" version="25.2.3" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="25.2.3" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="25.2.3" targetFramework="net472" />
  <package id="Syncfusion.Shared.Windows" version="25.2.3" targetFramework="net472" />
  <package id="Syncfusion.SpellChecker.Base" version="25.2.3" targetFramework="net472" />
  <package id="Syncfusion.Tools.Base" version="25.2.3" targetFramework="net472" />
  <package id="Syncfusion.Tools.Windows" version="25.2.3" targetFramework="net472" />
  <package id="VisualBasic.PowerPacks.Vs" version="1.0.0" targetFramework="net472" />
  <connectionStrings>
    <add
      name="JRFP1022" providerName="System.Data.SqlClient" connectionStrings="Data Source=sql.holamundodevs.com;Database=JoseFausto_NotasDB;User Id=josericardo;Password=Holamundo123*;integrated security=false;TrustServerCertificate=true">
    </add>
  </connectionStrings>
</packages>